
body  {background-color:lightyellow} 
p     {margin-left:100px; width:75%; font-size:18px; font-family:Helvetica; color:darkblue}
h1    {margin-left:50px; font-family:Helvetica; color:blue}
h2    {margin-left:50px; font-family:Helvetica; color:blue}
ol    {margin-left:50px; font-family:Helvetica; color:blue}
